body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
}
* {
  padding: 0;
  margin: 0;
}
h1 {
  font-size: 54px;
  font-style: italic;
  font-weight: 800;
  line-height: .5em;
  padding-bottom: 34px;
  color: hsl(0, 0%, 8%);
}
h2 {
  font-size: 14px;
  letter-spacing: 1px;
  color: hsl(0, 1%, 44%);
  text-transform: uppercase;
  margin-bottom: 3px;
}
main {
  margin-top: 11.3vh;
  padding: 42px 22px 32px;
  box-sizing: border-box;
  border-radius: 16px;
  border-bottom-right-radius: 92px;
  width: 340px;
  height: 482px;
  background-color: hsl(0, 0%, 100%);
}
form {
  position: relative;
  border-bottom: 2px solid hsl(0, 0%, 94%);
  margin-bottom: 82px;
}
input {
  font-size: 22px;
  width: 70px;
  height: 49px;
  padding-left: 13px;
  margin-right: 13px;
  border: 2px solid hsl(0, 0%, 94%);
  border-radius: 6px;
  color: hsl(0, 1%, 44%);
}
form div:nth-child(3) input {
  margin-right: 0;
}
input::placeholder {
  color: hsl(0, 1%, 44%);
}
input:focus {
  outline: 1px solid hsl(259, 100%, 65%);
}
span {
  color: hsl(259, 100%, 65%);
}
button {
  position: relative;
  top: 32px;
  display: block;
  border-radius: 50%;
  background-color: hsl(259, 100%, 65%);
  width: 64px;
  height: 64px;
  margin-inline: auto;
  border: none;
  cursor: pointer;
}
button:active{
  background-color: hsl(0, 1%, 8%);
}
form div{
  display: inline-block;
}
.warning {
  position: absolute;
  font-size: 9px;
  color: hsl(0, 100%, 67%);
}
.attribution {
  display: none;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
@font-face {
  font-family: 'Poppins';
  font-weight: 400;
  src: url(assets/fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 400;
  font-displpay: swap;
  src: url(assets/fonts/Poppins-BoldItalic.ttf);
}
@font-face {
  font-family: 'Poppins';
  font-weight: 700;
  src: url(assets/fonts/Poppins-Bold.ttf);
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 700;
  font-displpay: swap;
  src: url(assets/fonts/Poppins-BoldItalic.ttf);
}
@font-face {
  font-family: 'Poppins';
  font-weight: 800;
  font-displpay: swap;
  src: url(assets/fonts/Poppins-ExtraBold.ttf);
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url(assets/fonts/Poppins-ExtraBoldItalic.ttf);
}
@media only screen and (min-width: 376px){
  body {
    align-items: center;
    background-color: hsl(0, 0%, 94%);
  }
  h1{
    font-size: 102px;
    margin-inline: 8px;
    padding-bottom: 62px;
  }
  h2 {
    letter-spacing: 3.5px;
    margin-bottom: 9px;
  }
  main {
    margin-top: 3vh;
    padding: 59px 49px 32px;
    width: 840px;
    height: 655px;
    border-radius: 25px;
    border-bottom-right-radius: 190px;
  }
  form {
    height: 150px;
    margin-inline: 6px;
    margin-bottom: 78px;
  }
  input {
    font-size: 32px;
    font-weight: 700;
    width: 134px;
    height: 68px;
    padding-left: 22px;
    margin-right: 29px;
  }
  button {
    position: absolute;
    top: 103px;
    right: 0px;
    width: 94px;
    height: 94px;
  }
}